{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "parser": "babel",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "parser": "css"
      }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    },
    {
      "files": "*.yml",
      "options": { "parser": "yaml" }
    },
    {
      "files": "*.html",
      "options": { "parser": "html" }
    }
  ]
}
